<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.poturns.blink"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- BLINK CUSTOMIZED PERMISSIONs -->
    <permission
        android:name="kr.poturns.blink.permission.LISTEN_STATE_MESSAGE"
        android:description="@string/res_bllink_app_name"
        android:label="Listen state callback message _ label" >
    </permission>

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="kr.poturns.blink.permission.LISTEN_STATE_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/res_blink_ic_launcher"
        android:label="@string/res_bllink_app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="kr.poturns.blink.external.ServiceControlActivity"
            android:icon="@drawable/res_blink_ic_launcher"
            android:label="@string/res_bllink_app_name"
            android:screenOrientation="locked"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="kr.poturns.blink.db.TestActivity"
            android:label="@string/res_bllink_app_name" >
        </activity>
        <activity android:name="kr.poturns.blink.test.ServiceTestActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="kr.poturns.blink.internal.BlinkLocalService"
            android:exported="true"
            android:process="kr.poturns.blink.internal" >
            <intent-filter>
                <action android:name="kr.poturns.blink.internal.BlinkLocalService" />
            </intent-filter>
        </service>
    </application>

</manifest>