<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.poturns.demo.inbody"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="kr.poturns.blink.permission.LISTEN_STATE_MESSAGE" />
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Inbody"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".InbodyDetailActivity"
            android:label="Inbody" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <service
            android:name="kr.poturns.blink.internal.BlinkLocalService"
            android:exported="true"
            android:label="@string/res_blink_app_name"
            android:process="kr.poturns.blink.internal" >
            <intent-filter>
                <action android:name="kr.poturns.blink.internal.BlinkLocalService" />
            </intent-filter>
        </service>

        <activity
            android:name="kr.poturns.blink.external.ServiceControlActivity"
            android:exported="true"
            android:process="kr.poturns.blink.internal" >
        </activity>
    </application>

</manifest>
