<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.poturns.blink.demo.healthmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kr.poturns.blink.demo.healthmanager.HealthManagerListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="kr.poturns.blink.demo.healthmanager.InbodyDetailActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
        
        </activity>
        <activity android:name="kr.poturns.blink.demo.healthmanager.InbodyHisotryListActivity" 
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>