<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.poturns.blink.demo.healthmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <!-- BLINK CUSTOMIZED PERMISSIONs -->
    <permission
        android:name="kr.poturns.blink.permission.LISTEN_STATE_MESSAGE"
        android:description="@string/res_blink_app_name"
        android:label="Listen state callback message _ label"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="kr.poturns.blink.permission.LISTEN_STATE_MESSAGE" />

    <application
        android:name=".HealthManagerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="kr.poturns.blink.demo.healthmanager.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InbodyDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".HisotryActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".RecordActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- Blink Service attribute -->
        <service
            android:name="kr.poturns.blink.internal.BlinkLocalService"
            android:exported="true"
            android:label="@string/res_blink_app_name"
            android:process="kr.poturns.blink.internal" >
            <intent-filter>
                <action android:name="kr.poturns.blink.internal.BlinkLocalService" />
            </intent-filter>
        </service>

        <activity
            android:name="kr.poturns.blink.external.ServiceControlActivity"
            android:exported="true"
            android:process="kr.poturns.blink.internal" >
        </activity>
    </application>

</manifest>